<div class="face">
    <div class="first"><span id="s1">left eye</span>
        <div class="eyel">
            <div class="ball">
            </div>
        </div>
    </div>
    <div class="first"><span id="s2">right eye</span>
        <div class="eyer">
            <div class="ball">
            </div>
        </div>
    </div>
    <div class="first"><span id="s3">nose</span>
        <div class="nose1">
        </div>
        <div class="nose2">
        </div>
    </div>
    <div class="first"><span id="s4">mouth</span>
        <div class="smile">
            <svg width="200" height="200">
                <circle cx="50" cy="-10" r="50" stroke="black" stroke-width="4" />
        </div>
    </div>
