<div>
    <div class="menu">
        <a onclick="fnShowHome()">Home</a>
        <a onclick="fnShowFace()">HumanFace</a>
        <ul>
            <li>
                <a href="#">Text</a>
                <ul>
                    <li><a onclick="fnShowText()">Textblur</a></li>
                    <li><a onclick="fnShowFirstlinecolor()">FirstlineColor</a></li>
                    <li><a onclick="fnShowFirstandlastcolor()">FirstandLastColor</a></li>
                    <li><a onclick="fnShowColumnformat()">Columnformat</a></li>
                    <li><a onclick="fnShowFooter()">Footer</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Images</a>
                <ul>
                    <li><a onclick="fnShowCircularimage()">CircularImage</a></li>
                    <li><a onclick="fnShowBorderimage()">BorderImage</a></li>
                    <li><a onclick="fnShowHoverimage()">HoverImage</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a>Shapes</a>
                <ul>
                    <li><a onclick="fnShowBox()">3boxes</a></li>
                    <li><a onclick="fnShowTriangle()">CreatingTriangle</a></li>
                    <li><a onclick="fnShowEmptyelement()">EmptyElement</a></li>
                </ul>
            </li>
        </ul>
        <a onclick="fnShowList()">Itemlist</a>
        <a onclick="fnShowButton()">Button</a>
        <a onclick="fnShowTag()">Tag</a>
    </div>
</div>
